@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Coda);

body {
    background-color: #0d0406;
    font-family: 'Coda', cursive;
}

/**
 * Link colors.
 **/
a, a:link, a:visited {
    color: #c12e2a;
}

a:hover {
    text-decoration: none;
    color: #df3531;
}

/**
 * Hamburger style buttons.
 **/
.btn, .btn-xs, .btn-lg, .btn-sm  {
    font-family: 'Permanent Marker', cursive;
    background-color: #4b4b4b;
    border-bottom: 2px solid #323232;
    border-radius: 0.5em;
    color: #eeeeee !important;
    text-shadow: #111111 4px 4px 8px;
    text-align: center;
    text-decoration: none;
}

.btn:focus, .btn-xs:focus, .btn-lg:focus, .btn-sm:focus {
    text-decoration: none;
}

.btn:hover, .btn-xs:hover, .btn-lg:hover, .btn-sm:hover {
    background-color: #5b5b5b;
    text-decoration: none;
    color: #eeeeee;
}

.btn:active, .btn-xs:active, .btn-lg:active, .btn-sm:active {
    background-color: #323232;
}

.usr-btn-red {
    background-color: #c12e2a;
    border-bottom: 2px solid #843534;
}

.usr-btn-red:hover {
    background-color: #df3531;
}

.usr-btn-red:active {
    background-color: #843534;
}

.usr-btn-dark {
    background-color: #8b211e;
    border-bottom: 2px solid #681917;
}

.usr-btn-dark:hover {
    background-color: #aa2925;
}

.usr-btn-dark:active {
    background-color: #681917;
}

/**
 * Header fonts, size control
 **/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker', cursive;
    color: #eee;
}

h1 {
    font-size: 3em;
}

p {
    color: #eee;
    font-size: 1.5em;
    text-align: justify;
    text-shadow: #333333 1px 1px 0px ;
}

/**
 * My attempt at one of those fancy screen-sized slides.
 **/
.vpRow {
    min-height: 100vh;
}

/**
 * Not using a container div around everything since it makes the background
 * clip, but still want the padding it would have provided.
 **/
.row {
    padding-left: 2em;
    padding-right: 2em;
}

.bg1 {
    background-color: #060d1a;
    background-image: url('../img/banner1.jpg');
    background-size: cover;
}

.bg2 {
    background-color: #110f1a;
    background-image: url('../img/banner2.jpg');
    background-size: cover;
}

.bg3 {
    background-color: #1a0d15;
    background-image: url('../img/banner3.jpg');
    background-size: cover;
}

.bg4 {
    background-color: #1a080a;
    background-image: url('../img/banner4.jpg');
    background-size: cover;
}

.bg5 {
    background-color: #1a0a08;
    background-image: url('../img/banner5.jpg');
    background-size: cover;
}

/**
 * A few special images with special handling.
 **/
.headerImage {
    max-height: 85vh;
    max-width: 85vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mapImage {
    border-radius: 0.5em;
    border-bottom: 0.2em solid #333333;
    border-right: 0.2em solid #444444;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 90vw;
}

.sponsorLogo {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Tint over image backgrounds.
 **/
.overlayBlockDark {
    background-color: rgba(1, 1, 1, 0.55);
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.overlayBlock {
    background-color: rgba(1, 1, 1, 0.15);
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.overlayBlockLight {
    background-color: rgba(255.0, 255.0, 255.0, 0.5);
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}




/** hax **/
.haxtext {
    font-size: 3em;
    font-family: "Permanent Marker", cursive;
}

.haxcontainer {
    margin-top: -3em;
}