<html>
	<body style="text-align:center;margin:0px;">
		<img src="http://madhacks.org/img/logo.png" style="display:inline-block;width:200px;margin:0 5px">
		<h1>
			Password recovery has been initiated.
		</h1>
		<p>If this was intended, please navigate <a href="http://madhacks.org/forgot/<%=token%>">here</a>.</p>
		<h2>#HackCity</h2>
		<br><br>
		<p>If you cannot follow the link, please manually navigate to:</p>
		<p>http://madhacks.org/forgot/<%token%></p>
	</body>
</html>