

<% include part_head %>
	<div class="inner" style="display:none;">
		<div class="hackCity">MadHacks</div>
		<form action="/users/login" method="POST">
			<ul>
				<li>
					<input type="text" name="email" placeholder="Email">
				</li>
				<li>
					<input type="password" name="password" placeholder="Password">
				</li>
				<li>
					<hr>
				</li>
				<li class="split">
					<div></div>
					<button class="right btn"><div>Login</div></button>
				</li>
			</ul>
		</form>
	</div>
<% include part_foot %>
