<!DOCTYPE html>
<html>
<head>	
	<meta name="viewport" content="width=device-width" />
	<title>MadHacks</title>

    <!-- jQuery -->
    <script src="js/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap imports -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

    <script src="/js/bootstrap.min.js"></script>

    <!-- User sheets -->
    <link rel="stylesheet" href="/css/madhacks2015.css">

	<!--[if gte IE 9]>
		<style type="text/css">
			#footerTable td:hover {
			   filter: none;
			}
		</style>
	<![endif]-->
</head>
<div id="para1" class="parallax">
	<img src="/img/app_back_0.svg">
	<div></div>
</div>
<div id="para2" class="parallax">
	<img src="/img/app_back_1.svg">
	<div></div>
</div>
<div id="para3" class="parallax">
	<img src="/img/app_back_2.svg">
	<div></div>
</div>
	<div id="footerInner" class="inner" style="display:none;pointer-events:none;">
		<div class="hackCity" style="height:0;pointer-events:none;" >General</div>
		<ul style="pointer-events:none;">
			<li>
				<div class="bottom">
					<div class="hackCity">MadHacks</div>			
					<table id="footerTable">
						<tr>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="/">Home</a></td>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="/about">About</a></td>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="/sponsor">Sponsor</a></td>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="/contact">Contact</a></td>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">CoC</a></td>
						</tr>
					</table>
				</div>
			</li>
		</ul>
	</div>